.section-title.teachers-title span::after{
    right: 57px;
}
.overlay-teachers h3{
    font-weight: bolder;
    color: #d83434c4;
    display: inline-block;
    line-height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay-teachers h3 span{
    font-weight: bolder;
    color: rgb(73, 66, 66);
}
.overlay-teachers a{
    top: 63%;
    border: 2px solid #c14747;
    left: 46%;
    color: rgb(73, 66, 66);
    margin-top: 10px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    transition: all .5s ease;
}
.overlay-teachers a:hover{
    background-color:#e93140c4;
    color: #fff;
    border: none;
    /* border-radius: 7px 2px 7px 2px; */
}
.overlay-teachers{
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 38%;
    background-color:rgba(231, 193, 193, .7);
    top: 43%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 25vh;
    border-radius: 15px 5px 15px 5px;
    transition: all 1s;
    /* box-shadow: 2px -1px 2px 1px #efefef; */

}
.overlay-teachers:hover{
    border-radius: 5px 15px 5px 15px;
    background-color:rgba(202 113 113 / 70%);
}
@media only screen and (max-width:700px){
    .overlay-teachers{
        display: inline-block;
        height: 20vh;
        left: 50%;
        top: 40%;
    }
    .overlay-teachers h3,span{
        font-size: 13px;
    }
    .overlay-teachers a{
        font-size: 10px;
        top: 70%;
        left: 40%;
    
    }
}