@import url(./_contact.css);
@import url(./_navbar.css);
@import url(./_header.css);
@import url(./_course.css);
@import url(./_aboutus.css);
@import url(./_teachers.css);
@import url(./_static.css);
@import url(./_topic.css);
@import url(./_faq.css);
@import url(./_footer.css);
@font-face {
    font-family: sahel;
    src: url(../fonts/Sahel.woff) format("woff"),
         url(../fonts/Sahel.woff2) format("woff2"),
         url(../fonts/Sahel.eot) format("eot");
}
*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sahel;
    font-size: 15px;
}
/* start header section style */

